<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
	<connectionStrings>
		<!--<add name="ConfigDatabase" connectionString="Data Source=TestServer;Initial Catalog=TestDatabase;Integrated Security=True;Pooling=False"/>-->
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
				<add name="TextLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\torre\source\repos\FileCompressionUtility\FileCompressionUtility.log"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
